In [302]:
import pandas as pd
import os

In [303]:
header = ['url']
file = pd.read_csv('urls.txt',names=header)

In [304]:
urls = []
for index, row in file.iterrows():
    urls.append(row['url'])

In [305]:
frames = {}
headers = ['date','day','open','high','low','close','volume']
i = 0
for url in urls:
    i = i+1
    df = pd.read_csv(url,names=headers)
    df = df.drop(df.columns[1:6],1)
    frames[i]=df

In [306]:
frameoutput = pd.DataFrame()
for frame in frames:
    frameoutput = pd.concat([frameoutput,frames[frame]],1)

In [307]:
frameoutput

,date,volume,date,volume,date,volume,date,volume,date,volume,...,date,volume,date,volume,date,volume,date,volume,date,volume
0,2017-07-28 09:30,584086,2017-07-27 09:30,312083,2017-07-26 09:30,399154,2017-07-25 09:30,451498,2017-07-24 09:30,178424,...,2017-08-23 09:30,519919,2017-08-22 09:30,380182,2017-08-21 09:30,258131,NaN,NaN,NaN,NaN
1,2017-07-28 09:31,259240,2017-07-27 09:31,358937,2017-07-26 09:31,189497,2017-07-25 09:31,267495,2017-07-24 09:31,163945,...,2017-08-23 09:31,483286,2017-08-22 09:31,314811,2017-08-21 09:31,337739,NaN,NaN,NaN,NaN
2,2017-07-28 09:32,192631,2017-07-27 09:32,129708,2017-07-26 09:32,131189,2017-07-25 09:32,365553,2017-07-24 09:32,56665,...,2017-08-23 09:32,559873,2017-08-22 09:32,177903,2017-08-21 09:32,227056,NaN,NaN,NaN,NaN
3,2017-07-28 09:33,143088,2017-07-27 09:33,270707,2017-07-26 09:33,176437,2017-07-25 09:33,167339,2017-07-24 09:33,47986,...,2017-08-23 09:33,226777,2017-08-22 09:33,132286,2017-08-21 09:33,238968,NaN,NaN,NaN,NaN
4,2017-07-28 09:34,146120,2017-07-27 09:34,114150,2017-07-26 09:34,182745,2017-07-25 09:34,326246,2017-07-24 09:34,111541,...,2017-08-23 09:34,324148,2017-08-22 09:34,383813,2017-08-21 09:34,156576,NaN,NaN,NaN,NaN
5,2017-07-28 09:35,225088,2017-07-27 09:35,195980,2017-07-26 09:35,149167,2017-07-25 09:35,246229,2017-07-24 09:35,67750,...,2017-08-23 09:35,272196,2017-08-22 09:35,286295,2017-08-21 09:35,209700,NaN,NaN,NaN,NaN
6,2017-07-28 09:36,222797,2017-07-27 09:36,296677,2017-07-26 09:36,139832,2017-07-25 09:36,221964,2017-07-24 09:36,134647,...,2017-08-23 09:36,149145,2017-08-22 09:36,307548,2017-08-21 09:36,259576,NaN,NaN,NaN,NaN
7,2017-07-28 09:37,176975,2017-07-27 09:37,127871,2017-07-26 09:37,131913,2017-07-25 09:37,146095,2017-07-24 09:37,145809,...,2017-08-23 09:37,172712,2017-08-22 09:37,283534,2017-08-21 09:37,183632,NaN,NaN,NaN,NaN
8,2017-07-28 09:38,223577,2017-07-27 09:38,94572,2017-07-26 09:38,105499,2017-07-25 09:38,201093,2017-07-24 09:38,62878,...,2017-08-23 09:38,282416,2017-08-22 09:38,172198,2017-08-21 09:38,124055,NaN,NaN,NaN,NaN
9,2017-07-28 09:39,196045,2017-07-27 09:39,55350,2017-07-26 09:39,124384,2017-07-25 09:39,188297,2017-07-24 09:39,115247,...,2017-08-23 09:39,298180,2017-08-22 09:39,377319,2017-08-21 09:39,131651,NaN,NaN,NaN,NaN
10,2017-07-28 09:40,131454,2017-07-27 09:40,166188,2017-07-26 09:40,154207,2017-07-25 09:40,141007,2017-07-24 09:40,82776,...,2017-08-23 09:40,147116,2017-08-22 09:40,631638,2017-08-21 09:40,184815,NaN,NaN,NaN,NaN
11,2017-07-28 09:41,102395,2017-07-27 09:41,100452,2017-07-26 09:41,96258,2017-07-25 09:41,167007,2017-07-24 09:41,153878,...,2017-08-23 09:41,306426,2017-08-22 09:41,293522,2017-08-21 09:41,132973,NaN,NaN,NaN,NaN
12,2017-07-28 09:42,91633,2017-07-27 09:42,63474,2017-07-26 09:42,78507,2017-07-25 09:42,241008,2017-07-24 09:42,212252,...,2017-08-23 09:42,132830,2017-08-22 09:42,189164,2017-08-21 09:42,176709,NaN,NaN,NaN,NaN
13,2017-07-28 09:43,152504,2017-07-27 09:43,64686,2017-07-26 09:43,168536,2017-07-25 09:43,151324,2017-07-24 09:43,147199,...,2017-08-23 09:43,71617,2017-08-22 09:43,122871,2017-08-21 09:43,125257,NaN,NaN,NaN,NaN
14,2017-07-28 09:44,155385,2017-07-27 09:44,52249,2017-07-26 09:44,132458,2017-07-25 09:44,91044,2017-07-24 09:44,87794,...,2017-08-23 09:44,146282,2017-08-22 09:44,108041,2017-08-21 09:44,227183,NaN,NaN,NaN,NaN
15,2017-07-28 09:45,202293,2017-07-27 09:45,73983,2017-07-26 09:45,164413,2017-07-25 09:45,107449,2017-07-24 09:45,130166,...,2017-08-23 09:45,154221,2017-08-22 09:45,131633,2017-08-21 09:45,103158,NaN,NaN,NaN,NaN
16,2017-07-28 09:46,110398,2017-07-27 09:46,48300,2017-07-26 09:46,181963,2017-07-25 09:46,254499,2017-07-24 09:46,145852,...,2017-08-23 09:46,278445,2017-08-22 09:46,111551,2017-08-21 09:46,128152,NaN,NaN,NaN,NaN
17,2017-07-28 09:47,220297,2017-07-27 09:47,59606,2017-07-26 09:47,47797,2017-07-25 09:47,204730,2017-07-24 09:47,139958,...,2017-08-23 09:47,121543,2017-08-22 09:47,93754,2017-08-21 09:47,68313,NaN,NaN,NaN,NaN
18,2017-07-28 09:48,215870,2017-07-27 09:48,111106,2017-07-26 09:48,85986,2017-07-25 09:48,125061,2017-07-24 09:48,170059,...,2017-08-23 09:48,46566,2017-08-22 09:48,147053,2017-08-21 09:48,113753,NaN,NaN,NaN,NaN
19,2017-07-28 09:49,159156,2017-07-27 09:49,47262,2017-07-26 09:49,107667,2017-07-25 09:49,83643,2017-07-24 09:49,38659,...,2017-08-23 09:49,75692,2017-08-22 09:49,153637,2017-08-21 09:49,115154,NaN,NaN,NaN,NaN
20,2017-07-28 09:50,130601,2017-07-27 09:50,46155,2017-07-26 09:50,153371,2017-07-25 09:50,142189,2017-07-24 09:50,50819,...,2017-08-23 09:50,170033,2017-08-22 09:50,378710,2017-08-21 09:50,103212,NaN,NaN,NaN,NaN
21,2017-07-28 09:51,156658,2017-07-27 09:51,118464,2017-07-26 09:51,45761,2017-07-25 09:51,82107,2017-07-24 09:51,54341,...,2017-08-23 09:51,149361,2017-08-22 09:51,221036,2017-08-21 09:51,90076,NaN,NaN,NaN,NaN
22,2017-07-28 09:52,182844,2017-07-27 09:52,170394,2017-07-26 09:52,73357,2017-07-25 09:52,137535,2017-07-24 09:52,92168,...,2017-08-23 09:52,105897,2017-08-22 09:52,267124,2017-08-21 09:52,126189,NaN,NaN,NaN,NaN
23,2017-07-28 09:53,245678,2017-07-27 09:53,114501,2017-07-26 09:53,152551,2017-07-25 09:53,236300,2017-07-24 09:53,73398,...,2017-08-23 09:53,107934,2017-08-22 09:53,120081,2017-08-21 09:53,125541,NaN,NaN,NaN,NaN
24,2017-07-28 09:54,170030,2017-07-27 09:54,52876,2017-07-26 09:54,129541,2017-07-25 09:54,51639,2017-07-24 09:54,63947,...,2017-08-23 09:54,159357,2017-08-22 09:54,165364,2017-08-21 09:54,170975,NaN,NaN,NaN,NaN
25,2017-07-28 09:55,237274,2017-07-27 09:55,115373,2017-07-26 09:55,74494,2017-07-25 09:55,74091,2017-07-24 09:55,90103,...,2017-08-23 09:55,171539,2017-08-22 09:55,108375,2017-08-21 09:55,263919,NaN,NaN,NaN,NaN
26,2017-07-28 09:56,118995,2017-07-27 09:56,112546,2017-07-26 09:56,77354,2017-07-25 09:56,182870,2017-07-24 09:56,52270,...,2017-08-23 09:56,215806,2017-08-22 09:56,87936,2017-08-21 09:56,274521,NaN,NaN,NaN,NaN
27,2017-07-28 09:57,31828,2017-07-27 09:57,64049,2017-07-26 09:57,52158,2017-07-25 09:57,103123,2017-07-24 09:57,80998,...,2017-08-23 09:57,141494,2017-08-22 09:57,59390,2017-08-21 09:57,350881,NaN,NaN,NaN,NaN
28,2017-07-28 09:58,249119,2017-07-27 09:58,76362,2017-07-26 09:58,180687,2017-07-25 09:58,65054,2017-07-24 09:58,75725,...,2017-08-23 09:58,115495,2017-08-22 09:58,86182,2017-08-21 09:58,280294,NaN,NaN,NaN,NaN
29,2017-07-28 09:59,178104,2017-07-27 09:59,58267,2017-07-26 09:59,132600,2017-07-25 09:59,78501,2017-07-24 09:59,52159,...,2017-08-23 09:59,86438,2017-08-22 09:59,117332,2017-08-21 09:59,129816,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
360,2017-07-28 15:30,74469,2017-07-27 15:30,164723,2017-07-26 15:30,134743,2017-07-25 15:30,44960,2017-07-24 15:30,94746,...,2017-08-23 15:30,92534,2017-08-22 15:30,109980,2017-08-21 15:30,261082,NaN,NaN,NaN,NaN
361,2017-07-28 15:31,49195,2017-07-27 15:31,103186,2017-07-26 15:31,57175,2017-07-25 15:31,79220,2017-07-24 15:31,78830,...,2017-08-23 15:31,103473,2017-08-22 15:31,94620,2017-08-21 15:31,245036,NaN,NaN,NaN,NaN
362,2017-07-28 15:32,147103,2017-07-27 15:32,67770,2017-07-26 15:32,94376,2017-07-25 15:32,32090,2017-07-24 15:32,184396,...,2017-08-23 15:32,71822,2017-08-22 15:32,104526,2017-08-21 15:32,107494,NaN,NaN,NaN,NaN
363,2017-07-28 15:33,60702,2017-07-27 15:33,98897,2017-07-26 15:33,80560,2017-07-25 15:33,75615,2017-07-24 15:33,592137,...,2017-08-23 15:33,40961,2017-08-22 15:33,49909,2017-08-21 15:33,117111,NaN,NaN,NaN,NaN
364,2017-07-28 15:34,68495,2017-07-27 15:34,406673,2017-07-26 15:34,192840,2017-07-25 15:34,55026,2017-07-24 15:34,121862,...,2017-08-23 15:34,47942,2017-08-22 15:34,156712,2017-08-21 15:34,69678,NaN,NaN,NaN,NaN
365,2017-07-28 15:35,105226,2017-07-27 15:35,374298,2017-07-26 15:35,102359,2017-07-25 15:35,90572,2017-07-24 15:35,161793,...,2017-08-23 15:35,88005,2017-08-22 15:35,108512,2017-08-21 15:35,245284,NaN,NaN,NaN,NaN
366,2017-07-28 15:36,54667,2017-07-27 15:36,327401,2017-07-26 15:36,177171,2017-07-25 15:36,123258,2017-07-24 15:36,147120,...,2017-08-23 15:36,36883,2017-08-22 15:36,437027,2017-08-21 15:36,76357,NaN,NaN,NaN,NaN
367,2017-07-28 15:37,72923,2017-07-27 15:37,134336,2017-07-26 15:37,71913,2017-07-25 15:37,97848,2017-07-24 15:37,136905,...,2017-08-23 15:37,570067,2017-08-22 15:37,87419,2017-08-21 15:37,184167,NaN,NaN,NaN,NaN
368,2017-07-28 15:38,34477,2017-07-27 15:38,141937,2017-07-26 15:38,128951,2017-07-25 15:38,200603,2017-07-24 15:38,128747,...,2017-08-23 15:38,99379,2017-08-22 15:38,116807,2017-08-21 15:38,117494,NaN,NaN,NaN,NaN
369,2017-07-28 15:39,29391,2017-07-27 15:39,308143,2017-07-26 15:39,86395,2017-07-25 15:39,119110,2017-07-24 15:39,116964,...,2017-08-23 15:39,52761,2017-08-22 15:39,87257,2017-08-21 15:39,155068,NaN,NaN,NaN,NaN
370,2017-07-28 15:40,112018,2017-07-27 15:40,126809,2017-07-26 15:40,135225,2017-07-25 15:40,59935,2017-07-24 15:40,133131,...,2017-08-23 15:40,140582,2017-08-22 15:40,69400,2017-08-21 15:40,381096,NaN,NaN,NaN,NaN
371,2017-07-28 15:41,234539,2017-07-27 15:41,329113,2017-07-26 15:41,157677,2017-07-25 15:41,102706,2017-07-24 15:41,60775,...,2017-08-23 15:41,56615,2017-08-22 15:41,227534,2017-08-21 15:41,133193,NaN,NaN,NaN,NaN
372,2017-07-28 15:42,172045,2017-07-27 15:42,106544,2017-07-26 15:42,166201,2017-07-25 15:42,126630,2017-07-24 15:42,447969,...,2017-08-23 15:42,124208,2017-08-22 15:42,200700,2017-08-21 15:42,182589,NaN,NaN,NaN,NaN
373,2017-07-28 15:43,234499,2017-07-27 15:43,117786,2017-07-26 15:43,128715,2017-07-25 15:43,107591,2017-07-24 15:43,112754,...,2017-08-23 15:43,197659,2017-08-22 15:43,301619,2017-08-21 15:43,310184,NaN,NaN,NaN,NaN
374,2017-07-28 15:44,225302,2017-07-27 15:44,138740,2017-07-26 15:44,428319,2017-07-25 15:44,112796,2017-07-24 15:44,149622,...,2017-08-23 15:44,421425,2017-08-22 15:44,494034,2017-08-21 15:44,248041,NaN,NaN,NaN,NaN
375,2017-07-28 15:45,115404,2017-07-27 15:45,199169,2017-07-26 15:45,785403,2017-07-25 15:45,203976,2017-07-24 15:45,72495,...,2017-08-23 15:45,430842,2017-08-22 15:45,221389,2017-08-21 15:45,221873,NaN,NaN,NaN,NaN
376,2017-07-28 15:46,220189,2017-07-27 15:46,203597,2017-07-26 15:46,403152,2017-07-25 15:46,135199,2017-07-24 15:46,92928,...,2017-08-23 15:46,86002,2017-08-22 15:46,518843,2017-08-21 15:46,91443,NaN,NaN,NaN,NaN
377,2017-07-28 15:47,131255,2017-07-27 15:47,226594,2017-07-26 15:47,412723,2017-07-25 15:47,94309,2017-07-24 15:47,70591,...,2017-08-23 15:47,42593,2017-08-22 15:47,292642,2017-08-21 15:47,121165,NaN,NaN,NaN,NaN
378,2017-07-28 15:48,237343,2017-07-27 15:48,288273,2017-07-26 15:48,510389,2017-07-25 15:48,91408,2017-07-24 15:48,163548,...,2017-08-23 15:48,163034,2017-08-22 15:48,373522,2017-08-21 15:48,126291,NaN,NaN,NaN,NaN
379,2017-07-28 15:49,200771,2017-07-27 15:49,131698,2017-07-26 15:49,359108,2017-07-25 15:49,118181,2017-07-24 15:49,118396,...,2017-08-23 15:49,123659,2017-08-22 15:49,251780,2017-08-21 15:49,122719,NaN,NaN,NaN,NaN
380,2017-07-28 15:50,210355,2017-07-27 15:50,334498,2017-07-26 15:50,287312,2017-07-25 15:50,325277,2017-07-24 15:50,314084,...,2017-08-23 15:50,162348,2017-08-22 15:50,420410,2017-08-21 15:50,538788,NaN,NaN,NaN,NaN
381,2017-07-28 15:51,104608,2017-07-27 15:51,258040,2017-07-26 15:51,319138,2017-07-25 15:51,287773,2017-07-24 15:51,167857,...,2017-08-23 15:51,156161,2017-08-22 15:51,211697,2017-08-21 15:51,148483,NaN,NaN,NaN,NaN
382,2017-07-28 15:52,452424,2017-07-27 15:52,159922,2017-07-26 15:52,175216,2017-07-25 15:52,247564,2017-07-24 15:52,139525,...,2017-08-23 15:52,74452,2017-08-22 15:52,236088,2017-08-21 15:52,180575,NaN,NaN,NaN,NaN
383,2017-07-28 15:53,120183,2017-07-27 15:53,158764,2017-07-26 15:53,191458,2017-07-25 15:53,239036,2017-07-24 15:53,211439,...,2017-08-23 15:53,171698,2017-08-22 15:53,272038,2017-08-21 15:53,218784,NaN,NaN,NaN,NaN
384,2017-07-28 15:54,210810,2017-07-27 15:54,133886,2017-07-26 15:54,200849,2017-07-25 15:54,232177,2017-07-24 15:54,209454,...,2017-08-23 15:54,168857,2017-08-22 15:54,696668,2017-08-21 15:54,106277,NaN,NaN,NaN,NaN
385,2017-07-28 15:55,911805,2017-07-27 15:55,458766,2017-07-26 15:55,174329,2017-07-25 15:55,501299,2017-07-24 15:55,276305,...,2017-08-23 15:55,200303,2017-08-22 15:55,643349,2017-08-21 15:55,294035,NaN,NaN,NaN,NaN
386,2017-07-28 15:56,261646,2017-07-27 15:56,305806,2017-07-26 15:56,342392,2017-07-25 15:56,393624,2017-07-24 15:56,205347,...,2017-08-23 15:56,241725,2017-08-22 15:56,386164,2017-08-21 15:56,319573,NaN,NaN,NaN,NaN
387,2017-07-28 15:57,519977,2017-07-27 15:57,385967,2017-07-26 15:57,182762,2017-07-25 15:57,395503,2017-07-24 15:57,473179,...,2017-08-23 15:57,698712,2017-08-22 15:57,453395,2017-08-21 15:57,824592,NaN,NaN,NaN,NaN
388,2017-07-28 15:58,569884,2017-07-27 15:58,1002771,2017-07-26 15:58,479208,2017-07-25 15:58,692871,2017-07-24 15:58,733660,...,2017-08-23 15:58,473634,2017-08-22 15:58,969657,2017-08-21 15:58,438662,NaN,NaN,NaN,NaN
389,2017-07-28 15:59,1141843,2017-07-27 15:59,1684866,2017-07-26 15:59,1083478,2017-07-25 15:59,2412042,2017-07-24 15:59,2274006,...,2017-08-23 15:59,1392656,2017-08-22 15:59,1895723,2017-08-21 15:59,1471730,NaN,NaN,NaN,NaN

In [ ]:
#next step to export to excel